<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.DataFreightMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.sysUser.DataFreight">
    <result column="Airportname" jdbcType="VARCHAR" property="airportname" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Airportname, Year, month, value, longitude, latitude
  </sql>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.sysUser.DataFreightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_freight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
    <!--TOP 10-->
   <select id="selecttop" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT Airportname,SUM(VALUE) AS VALUE
    FROM data_freight
    GROUP BY Airportname
    ORDER BY SUM(VALUE) DESC
    LIMIT 0,10
  </select>
  
    <!--按年份，-->
   <select id="selectbyyear" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT YEAR,SUM(VALUE) AS VALUE
    FROM data_freight
    WHERE Airportname LIKE '%${airportname}%' 
    GROUP BY YEAR
    ORDER BY YEAR ASC
  </select>
  
  <!--按月份-->
  <select id="selectbymonth" parameterType="java.lang.String" resultMap="BaseResultMap">
   SELECT MONTH,SUM(VALUE) AS VALUE
    FROM data_freight
    WHERE Airportname LIKE '%${airportname}%' 
    GROUP BY MONTH
    ORDER BY MONTH ASC
  </select>
  
    <select id="selectquery" parameterType="java.lang.String" resultMap="BaseResultMap">
   SELECT AIRPORTNAME,YEAR,MONTH,VALUE
    FROM data_freight
    WHERE Airportname LIKE '%${airportname}%' 
    AND MONTH <![CDATA[ >= ]]> '${monthstart}' AND MONTH <![CDATA[ <= ]]> '${monthend}'
    AND YEAR <![CDATA[ >= ]]> '${yearstart}' AND YEAR <![CDATA[ <= ]]> '${yearend}'
    AND VALUE <![CDATA[ >= ]]> '${datalow}' AND VALUE <![CDATA[ <= ]]> '${datahigh}'
    ORDER BY AIRPORTNAME,YEAR,MONTH ASC
    LIMIT ${page},10
  </select>
  
  <select id="selectqueryall" parameterType="java.lang.String" resultMap="BaseResultMap">
   SELECT count(*) AS year
    FROM data_freight
    WHERE Airportname LIKE '%${airportname}%' 
    AND MONTH <![CDATA[ >= ]]> '${monthstart}' AND MONTH <![CDATA[ <= ]]> '${monthend}'
    AND YEAR <![CDATA[ >= ]]> '${yearstart}' AND YEAR <![CDATA[ <= ]]> '${yearend}'
    AND VALUE <![CDATA[ >= ]]> '${datalow}' AND VALUE <![CDATA[ <= ]]> '${datahigh}'
  </select>
  
  <!--地图-->
  <select id="selectmap" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT Airportname,longitude,latitude,value
    FROM data_freight
    WHERE YEAR = '${year}' and MONTH = '${month}'
    GROUP BY Airportname
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.sysUser.DataFreightExample">
    delete from data_freight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.sysUser.DataFreight">
    insert into data_freight (Airportname, Year, month, 
      value, longitude, latitude
      )
    values (#{airportname,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, #{month,jdbcType=INTEGER}, 
      #{value,jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.sysUser.DataFreight">
    insert into data_freight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airportname != null">
        Airportname,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airportname != null">
        #{airportname,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.sysUser.DataFreightExample" resultType="java.lang.Long">
    select count(*) from data_freight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_freight
    <set>
      <if test="record.airportname != null">
        Airportname = #{record.airportname,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        Year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.month != null">
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=DOUBLE},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_freight
    set Airportname = #{record.airportname,jdbcType=VARCHAR},
      Year = #{record.year,jdbcType=INTEGER},
      month = #{record.month,jdbcType=INTEGER},
      value = #{record.value,jdbcType=DOUBLE},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>