<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.PassengerbyairandyearMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.sysUser.Passengerbyairandyear">
    <result column="Airportname" jdbcType="VARCHAR" property="airportname" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="value" jdbcType="DOUBLE" property="value" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Airportname, Year, value
  </sql>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.sysUser.PassengerbyairandyearExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from passengerbyairandyear
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectbyairandyear" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT YEAR,SUM(VALUE) AS VALUE
    FROM passengerbyairandyear
    WHERE Airportname LIKE '%${airportname}%' 
    GROUP BY YEAR
    ORDER BY YEAR ASC
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.sysUser.PassengerbyairandyearExample">
    delete from passengerbyairandyear
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.sysUser.Passengerbyairandyear">
    insert into passengerbyairandyear (Airportname, Year, value
      )
    values (#{airportname,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, #{value,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.sysUser.Passengerbyairandyear">
    insert into passengerbyairandyear
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airportname != null">
        Airportname,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airportname != null">
        #{airportname,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.sysUser.PassengerbyairandyearExample" resultType="java.lang.Long">
    select count(*) from passengerbyairandyear
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update passengerbyairandyear
    <set>
      <if test="record.airportname != null">
        Airportname = #{record.airportname,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        Year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update passengerbyairandyear
    set Airportname = #{record.airportname,jdbcType=VARCHAR},
      Year = #{record.year,jdbcType=INTEGER},
      value = #{record.value,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>