<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
        <script src="resources/scripts/jquery-3.2.1.min.js"></script>
  </head>

  <body class="layui-bg-gray">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <!--您的Layui代码start-->
<div>
<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item layui-this"><a href="redirect?page=monitor_main">namenode1</a>
    	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">服务详情</a></dd></dl>
  </li>
  <li class="layui-nav-item"><a href="">namenode2</a>
  	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">服务详情</a></dd></dl>
   </li>
  <li class="layui-nav-item"><a href="">datanode1</a>
  	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">服务详情</a></dd></dl>  
  </li>
  <li class="layui-nav-item"><a href="">datanode2</a>
    	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">服务详情</a></dd></dl>
  </li>
  <li class="layui-nav-item"><a href="">datanode3</a>
    	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="">服务详情</a></dd></dl>
  </li>
  <span class="layui-layout-right"><li class="layui-nav-item">
    <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">四十四</a>
    <dl class="layui-nav-child">
      <dd><a href="redirect?page=monitor_center"><i class="layui-icon layui-icon-username" style="font-size: 20px; color: #1E9FFF;"></i>修改信息</a></dd>
<dd><a href="javascript:;"><i class="layui-icon layui-icon-download-circle" style="font-size: 20px; color: #1E9FFF;"></i> 数据库备份</a></dd>
<dd><a href="javascript:;"><i class="layui-icon layui-icon-upload-drag" style="font-size: 20px; color: #1E9FFF;"></i> 数据库还原</a></dd>
      <dd><a href="javascript:;"><i class="layui-icon layui-icon-logout" style="font-size: 20px; color: #FF5722;"></i> 退出</a></dd>
    </dl>
  </li></span>
</ul>
</div>



<div style="width:800px;height:600px;margin:auto;margin-top:5%;">
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>进程名</th>
      <th>端口号</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>贤心</td>
      <td>2016-11-29</td>
      <td><button type="button" class="layui-btn layui-btn-lg layui-btn-danger">关闭进程</button></td>
    </tr>
    <tr>
      <td>许闲心</td>
      <td>2016-11-28</td>
      <td><button type="button" class="layui-btn layui-btn-lg layui-btn-danger">关闭进程</button></td>
    </tr>
  </tbody>
</table>
</div>
 




 
<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作	
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>
  </body>

</html>