<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
  </head>

  <body class="layui-bg-gray">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <!--您的Layui代码start-->
<div>
<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item layui-this"><a href="redirect?page=monitor_main">namenode1</a>
    	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="redirect?page=monitor_service">服务详情</a></dd></dl>
  </li>
  <li class="layui-nav-item"><a href="redirect?page=monitor_main">namenode2</a>
  	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="redirect?page=monitor_service">服务详情</a></dd></dl>
   </li>
  <li class="layui-nav-item"><a href="redirect?page=monitor_main">datanode1</a>
  	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="redirect?page=monitor_service">服务详情</a></dd></dl>  
  </li>
  <li class="layui-nav-item"><a href="redirect?page=monitor_main">datanode2</a>
    	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="redirect?page=monitor_service">服务详情</a></dd></dl>
  </li>
  <li class="layui-nav-item"><a href="redirect?page=monitor_main">datanode3</a>
    	<dl class="layui-nav-child"> <!-- 二级菜单 -->
      <dd><a href="redirect?page=monitor_service">服务详情</a></dd></dl>
  </li>
  <span class="layui-layout-right"><li class="layui-nav-item">
	<a href="redirect?page=monitor_center" class="user"><img src="//t.cn/RCzsdCq" class="layui-nav-img">四十四</a>
    <dl class="layui-nav-child">
      <dd><a href="redirect?page=monitor_center"><i class="layui-icon layui-icon-username" style="font-size: 20px; color: #1E9FFF;"></i>修改信息</a></dd>
<dd><a href="javascript:;"><i class="layui-icon layui-icon-download-circle" style="font-size: 20px; color: #1E9FFF;"></i> 数据库备份</a></dd>
<dd><a href="javascript:;"><i class="layui-icon layui-icon-upload-drag" style="font-size: 20px; color: #1E9FFF;"></i> 数据库还原</a></dd>
      <dd><a href="javascript:;"><i class="layui-icon layui-icon-logout" style="font-size: 20px; color: #FF5722;"></i> 退出</a></dd>
    </dl>
  </li></span>
</ul>
</div>

<div style="width:1000px;margin:auto;margin-top:5%;">
<button type="button" class="layui-btn layui-btn-lg layui-btn-normal">启动</button>
<button type="button" class="layui-btn layui-btn-lg layui-btn-danger">关机</button>
<button type="button" class="layui-btn layui-btn-lg layui-btn-warm">重启</button>
<button type="button" class="layui-btn layui-btn-lg">图形化</button>
</div>

<div style="width:1000px;height:600px;margin:auto;margin-top:5%;">
<table class="layui-table" >
  <tbody>
 <tr>
      <td  style="font-size: 30px;">运行状态</td>
      <td style="font-size: 30px;">关闭</td>
    </tr>
    <tr>
      <td style="font-size: 30px;">ip地址</td>
      <td style="font-size: 30px;">192.168.1.50</td>
    </tr>
    <tr>
      <td style="font-size: 30px;">cpu使用数</td>
      <td style="font-size: 30px;">2016-11-28</td>
    </tr>
      <tr>
      <td style="font-size: 30px;">内存使用量</td>
      <td style="font-size: 30px;">2016-11-28</td>
    </tr>
    <tr>
      <td style="font-size: 30px;">磁盘使用量</td>
      <td style="font-size: 30px;">2016-11-28</td>
    </tr>
  </tbody>
</table>
</div>
 




 <script src="./js/monitor_main.js"></script>
<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作	
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>

  </body>

</html>